@import url(variables.css);

@font-face {
    font-family: "ESsemiBold";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-SemiBold.ttf);
}
@font-face {
    font-family: "ESregular";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-Regular.ttf);
}
@font-face {
    font-family: "ESbold";
    src: url(../storage/fonts/encodeSans/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "ESmedium";
    src: url(../storage/fonts/encodeSans/EncodeSans-Medium.ttf);
}
@font-face {
    font-family: "ESmixed";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexC{
    display: flex;
    height: 92vh;
    overflow-y: auto;
}

.gridcontainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 60vh 40vh;
}

.container{
    display: flex;
    justify-content: center;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer{
    position: relative;
    display: flex;
}

#img{
    width: 100%;
    border-radius: 2vh;
}


#like{
    right: 0;
    margin-top: 1vh;
    margin-right: 1vh;
    position: absolute;
}
#back{
    transition: 0.2s;
    position: absolute;
}
#back:hover{
    transition: 0.2s;
    filter: invert(100%);
}

.infocontainer{
    width: 86%;
    height: 100%;
}

.gridTitle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gridTitleItem{
    border: none;
}
.gridTitleItem2{
    display: flex;
    align-items: center;
}

.countContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 2vw;
}

.countItem{
    width: 10vw;
}
.countItem:hover{
    filter: invert(100%);
}

#countNumber{
    font-family: "ESbold", sans-serif;
    font-size: 6vw;
}

#productoTitle{
    font-size: 6.4vw;
    font-family: "ESsemiBold", sans-serif;
    color: #1B2028;
    margin-bottom: 2vw;
}

#descript{
    font-size: 3vw;
    font-family: "ESmixed", sans-serif;
    color: #878787;
}

#readMore{
    font-family: "ESsemiBold", sans-serif;
    color: #1B2028;
}

#stars{
    width: 26vw;
}

#rerviewsText{
    font-size: 3.6vw;
    color: #878787;
    font-family: "ESregular", sans-serif;
}
#blue{
    color: #347EFB;
}

.reviews{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 1vh;
}

#line{
    margin: 0;
    width: 100%;
}


.optionscontainer{
    margin-top: 1.4vh;
    width: 100%;
    display: grid;
    gap: 34%;
    grid-template-columns: 40% 26%;
}
.optionscontainer div{
    border: none;
}

.sizes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#chooseSize{
    margin-bottom: 1vh;
    font-size: 3.3vw;
    font-family: "ESbold", sans-serif;
}

.colorsOptions{
    width: 6vw;
}

.sizesOptions{
    width: 6vw;
}

.navigationBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 3vw;
    margin-top: 0;
    width: calc(100% - (6vw));
    height: 10vh;
    z-index: +1;
    bottom: 0;
    transition: 0.2s;
    background-color: #292526;
    border-radius: 12vw;
}
.navigationBar:hover{
    transition: 02.s;
    background-color: #3a6033;
}

#cartText{
    margin-left: 2vw;
    font-size: 4.6vw;
    font-family: "ESmixed", sans-serif;
    color: #ffffff;
}

#tachado{
    font-family: "ESregular", sans-serif;
    font-size: 3vw;
    text-decoration: line-through;
}

@media (min-width: 600px) {
    #productoTitle{
        font-size: 4vw;
    }
    #stars{
        width: 16vw;
    }
    #descript{
        font-size: 1.9vw;
    }
    #rerviewsText{
        font-size: 2vw;
    }
    .flexC{
        height: 80vh;
    }
    #cartText{
        font-size: 2vw;
    }
    #tachado{
        font-size: 1.2vw;
    }
}