@import url(variables.css);

@font-face {
    font-family: "ESsemiBold";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-SemiBold.ttf);
}
@font-face {
    font-family: "ESregular";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-Regular.ttf);
}
@font-face {
    font-family: "ESbold";
    src: url(../storage/fonts/encodeSans/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "ESmedium";
    src: url(../storage/fonts/encodeSans/EncodeSans-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gridcontainer{
    grid-template-columns: 1;
    grid-template-rows: 10vh 10vh 10vh 70vh;
    display: grid;
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}
.searchBar{
    display: grid;
    grid-template-columns: 80% 20%;
}

.gridcontainer > div{
    border: 1px solid black;
}


.header1{
    display: flex;
}


.cap1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    border: 1px solid blue;
}
.cap2{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
    border: 1px solid blue;
}
.cap3{
    height: 100%;
    border: 1px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}


#hello{
    margin-left: 4vw;
    font-size: 4vw;
    font-family: "ESregular";
}
#name{
    margin-left: 4vw;
    font-size: 4.4vw;
    font-family: "ESbold";
}

.profilecuadro{
    width: 12vw;
    height: 12vw;
    margin-right: 4vw;
    border-radius: 50%;
    overflow: hidden;
}

#profile{
    width: 100%;
}

#search{
    height: 50%;
    background-image: url('ruta_de_la_imagen.jpg');
}