@import url(variables.css);

@font-face {
    font-family: "ESsemiBold";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-SemiBold.ttf);
}
@font-face {
    font-family: "ESregular";
    src: url(../storage/fonts/encodeSans/EncodeSans_SemiCondensed-Regular.ttf);
}
@font-face {
    font-family: "ESbold";
    src: url(../storage/fonts/encodeSans/EncodeSans-Bold.ttf);
}
@font-face {
    font-family: "ESmedium";
    src: url(../storage/fonts/encodeSans/EncodeSans-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gridcontainer{
    grid-template-columns: 1;
    grid-template-rows: 10vh 10vh 10vh 70vh;
    display: grid;
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}
.searchBar{
    display: grid;
    grid-template-columns: 80% 20%;
}

.gridcontainer > div{
    border: 1px solid black;
}


.header1{
    display: flex;
}


.cap1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
}
.cap2{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 60%;
}
.cap3{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.cap4{
    height: 100%;
    display: flex;
    justify-content: right;
}


#hello{
    margin-left: 6vw;
    font-size: 4vw;
    font-family: "ESregular";
}
#name{
    margin-left: 6vw;
    font-size: 4.4vw;
    font-family: "ESbold";
}

.profilecuadro{
    width: 12vw;
    height: 12vw;
    margin-right: 4vw;
    border-radius: 50%;
    overflow: hidden;
}

#profile{
    transform: translate( -8%, 50%) scale(2);
    width: 100%;
}

.search{
    display: flex;
    align-items: center;
    margin-left: 6vw;
    height: 70%;
    width: 90%;
    border-radius: 3vw;
    border: 1px solid #EDEDED;
}

#lupa{
    margin-left: 4vw;
    margin-right: 2vw;
}
#search{
    border: none;
    height: 50%;
    font-family: "ESregular", sans-serif;
    font-size: 4vw;
}

#filter{
    width: 12vw;
    margin-right: 4vw;
}



.categorias{
    display: flex;
    align-items: center;
}

.categoriascont{
    gap: 4vw;
    height: 50%;
    width: 100%;
    display: grid;
    transform: translateX(6vw);
    grid-template-columns: repeat(4, 1fr);
}

.elemento{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    border: 1px solid #EDEDED;
}

.elemento2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292526;
    border-radius: 2vw;
    border: none;
}

.categoriaIcon{
    width: 5vw;
    margin-right: 1vw;
}

.categoriaText{
    color: #1B2028;
    font-size: 3.2vw;
    font-family: "ESmedium", sans-serif;
}
.categoriaText2{
    color: #ffffff;
    font-size: 3.2vw;
    font-family: "ESmedium", sans-serif;
}