<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/checkout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    
    <div class="gridContainer">
        <div class="division">
            <div class="menu">
                <img onclick="window.location.href = 'detail.html'" class="boton" src="../storage/media/backNoS.svg">
                <p id="checkout">Checkout</p>
                <img class="boton" src="../storage/media/menu.svg">
            </div>
        </div>
        <div class="division">
            <div class="flexgalery">
                <div class="product">
                    <div class="producto">
                        <img class="img" src="../storage/media/images/p1.1.svg">
                    </div>
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">4</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>

                <img class="line" src="../storage/media/line2.svg">
                <div class="product">
                    <img class="img" src="../storage/media/images/p2.2.svg">
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">1</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>

                <img class="line" src="../storage/media/line2.svg">
                <div class="product">
                    <img class="img" src="../storage/media/images/p3.1.svg">
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">4</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>

                <img class="line" src="../storage/media/line2.svg">
                <div class="product">
                    <div class="producto">
                        <img class="img" src="../storage/media/images/p1.1.svg">
                    </div>
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">4</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>

                <img class="line" src="../storage/media/line2.svg">
                <div class="product">
                    <img class="img" src="../storage/media/images/p2.2.svg">
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">1</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>

                <img class="line" src="../storage/media/line2.svg">
                <div class="product">
                    <img class="img" src="../storage/media/images/p3.1.svg">
                    <div class="header">
                        <p id="productTitle">Modern light clothes</p>
                        <p id="productDescript">Dress modern</p>
                        <p id="productPrice">$212.99</p>
                    </div>
                    <div class="prodcutCount">
                        <img id="points" src="../storage/media/menu3points.svg">
                        <div class="fondo">
                            <img class="count" src="../storage/media/minusWhite.svg">
                            <p class="number">4</p>
                            <img class="count" src="../storage/media/plusWhite.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="division2">
            <p id="information">Shipping Information</p>
            <div class="payContainer">
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                    <img id="arrow" src="../storage/media/arrow-down.svg">
                </div>
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                </div>
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                </div>
            </div>
            <div class="payDetail">
                <div class="payLeft">
                    <p id="total">Total (9 items)</p>
                    <p id="total">Shipping Fee</p>
                    <img id="lineDetail" src="../storage/media/line2.svg">
                    <p id="total2">Sub Total</p>
                </div>
                <div class="payRight">
                    <div class="payRightContainer">
                        <p id="totalN">$131.97</p>
                        <p id="totalN">$0.00</p>
                        <p id="totalN2">$131.97</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigationBar">
        <p id="barButton">Pay</p>
    </div>

</body>
</html>