<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/checkout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <script type="module" src="../js/module/checkout.js" defer></script>
</head>
<body>
    
    <div class="gridContainer">
        <div class="division">
            <div class="menu">
                <img onclick="openDetail()" class="boton" src="../storage/media/backNoS.svg">
                <p id="checkout">Compra</p>
                <img class="boton" src="../storage/media/menu.svg">
            </div>
        </div>
        <div class="division">
            <div class="flexgalery">
                
            </div>
        </div>
        <div class="division2">
            <p id="information">Informacion de la compra</p>
            <div class="payContainer">
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                    <img id="arrow" src="../storage/media/arrow-down.svg">
                </div>
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                </div>
                <div class="payMetod">
                    <img id="visa" src="../storage/media/visa.svg">
                    <p id="visaNumber">**** **** **** 2143</p>
                </div>
            </div>
            <div class="payDetail">
                <div class="payLeft">
                    <p id="total">Total (<span id="productsCantidad">0</span> items)</p>
                    <p id="total">Shipping Fee</p>
                    <img id="lineDetail" src="../storage/media/line2.svg">
                    <p id="total2">Sub Total</p>
                </div>
                <div class="payRight">
                    <div class="payRightContainer">
                        <p id="totalN">0</p>
                        <p id="totalN1">$0.00</p>
                        <p id="totalN2">0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigationBar">
        <p id="barButton">Pagar</p>
    </div>

</body>
</html>