<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    
    <div class="gridcontainer">
        <div class="container1">
            <div class="imgcontainer">
                <img id="like" src="../storage/media/likeinvert.svg">
                <img id="img" src="../storage/media/images/p2.1.svg">
                <img onclick="window.location.href = '../index.html'" id="back" src="../storage/media/back.svg">
            </div>
        </div>
        <div class="container">
            <div class="infocontainer">
                
            </div>
        </div>
        <div class="container">

        </div>
    </div>

</body>
</html>