<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script type="module" src="../js/module/detail.js" defer></script>
</head>
<body id="detailBody">
    <div class="flexC">
        <div class="gridcontainer" id="containerDetail">

        </div>
    </div>
    <!-- <div onclick="window.location.href = 'checkout.html'" class="navigationBar">
        <img src="../storage/media/shopping-cart.svg">
        <p id="cartText">Añadir al carro | $390.600 <span id="tachado">$430.700</span></p>
    </div> -->

</body>
</html>