<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/detail.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <div class="flexC">
        <div class="gridcontainer">
            <div class="container1">
                <div class="imgcontainer">
                    <img id="like" src="../storage/media/likeinvert.svg">
                    <img id="img" src="../storage/media/images/p2.1.svg">
                    <img onclick="window.location.href = '../index.html'" id="back" src="../storage/media/back.svg">
                </div>
            </div>
            <div class="container">
                <div class="infocontainer">
                    <p id="productoTitle">Modern light<br>clothes</p>
                    <div class="reviews">
                        <img id="stars" src="../storage/media/stars.svg">
                        <p id="rerviewsText">5.0 <span id="blue">(7.932 reviews)</span></p>
                    </div>

                    <p id="descript">Its simple and elegant shape makes it perfect for<br>those of you who like you who want minimalist<br>clothes <span id="readMore">Read More. . .</span></p>
                
                    <img id="line" src="../storage/media/line.svg">

                    <div class="optionscontainer">
                        <div class="tallas">
                            <p id="chooseSize">Choose Size</p>
                            <div class="sizes">
                                <img class="sizesOptions" src="../storage/media/sizeS.svg">
                                <img class="sizesOptions" src="../storage/media/sizeM.svg">
                                <img class="sizesOptions" src="../storage/media/sizeL.svg">
                                <img class="sizesOptions" src="../storage/media/sizeXL.svg">
                            </div>
                        </div>
                        <div class="colors">
                            <p id="chooseSize">Colors</p>
                            <div class="sizes">
                                <img class="colorsOptions" src="../storage/media/color1.svg">
                                <img class="colorsOptions" src="../storage/media/color2.svg">
                                <img class="colorsOptions" src="../storage/media/color3.svg">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="navigationBar">
            <img src="../storage/media/shopping-cart.svg">
            <p id="cartText">Add to Cart | $100.99 <span id="tachado">$190.99</span></p>
        </div>
    </div>

</body>
</html>