<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eCommerce Clothing Store</title>
</head>
<body>
    
    <div class="gridcontainer">
        <div class="header1">
            <div class="hello">
                <p id="hello">Hello, Welcome 👋</p>
                <p id="name">Albert Stevano</p>
            </div>

            <div class="hello2">
                <div class="profilecuadro">
                    <img id="profile" src="../storage/media/images/image 44.svg">
                </div>
            </div>

        </div>
        <div class="searchBar">

        </div>
        <div class="categorias">

        </div>
        <div class="productos">

        </div>
    </div>

</body>
</html>